<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datangedu.cn.dao.mapper.BuyUserMapper">
    <resultMap id="BaseResultMap" type="com.datangedu.cn.model.sysUser.BuyUser">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
        <result column="GENDER" jdbcType="INTEGER" property="gender"/>
        <result column="CELLPHONE" jdbcType="VARCHAR" property="cellphone"/>
        <result column="LOCATION" jdbcType="VARCHAR" property="location"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="BUY_NUM" jdbcType="INTEGER" property="buyNum"/>
        <result column="TOTAL_PRICE" jdbcType="INTEGER" property="totalPrice"/>
        <result column="STATUS" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.datangedu.cn.model.sysUser.BuyUser">
        <result column="HEAD_IMG" jdbcType="LONGVARBINARY" property="headImg"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    ID, USER_NAME, GENDER, CELLPHONE, LOCATION, CREATE_TIME, EMAIL, BUY_NUM, TOTAL_PRICE, 
    STATUS
  </sql>
    <sql id="Blob_Column_List">
    HEAD_IMG
  </sql>
    <select id="selectByExampleWithBLOBs" parameterType="com.datangedu.cn.model.sysUser.BuyUserExample"
            resultMap="ResultMapWithBLOBs">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from buy_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByExample" parameterType="com.datangedu.cn.model.sysUser.BuyUserExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from buy_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from buy_user
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from buy_user
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.datangedu.cn.model.sysUser.BuyUserExample">
        delete from buy_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.datangedu.cn.model.sysUser.BuyUser">
    insert into buy_user (ID, USER_NAME, GENDER, 
      CELLPHONE, LOCATION, CREATE_TIME, 
      EMAIL, BUY_NUM, TOTAL_PRICE, 
      STATUS, HEAD_IMG)
    values (#{id,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, 
      #{cellphone,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{email,jdbcType=VARCHAR}, #{buyNum,jdbcType=INTEGER}, #{totalPrice,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{headImg,jdbcType=LONGVARBINARY})
  </insert>
    <insert id="insertSelective" parameterType="com.datangedu.cn.model.sysUser.BuyUser">
        insert into buy_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="userName != null">
                USER_NAME,
            </if>
            <if test="gender != null">
                GENDER,
            </if>
            <if test="cellphone != null">
                CELLPHONE,
            </if>
            <if test="location != null">
                LOCATION,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="email != null">
                EMAIL,
            </if>
            <if test="buyNum != null">
                BUY_NUM,
            </if>
            <if test="totalPrice != null">
                TOTAL_PRICE,
            </if>
            <if test="status != null">
                STATUS,
            </if>
            <if test="headImg != null">
                HEAD_IMG,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=INTEGER},
            </if>
            <if test="cellphone != null">
                #{cellphone,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                #{location,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="buyNum != null">
                #{buyNum,jdbcType=INTEGER},
            </if>
            <if test="totalPrice != null">
                #{totalPrice,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="headImg != null">
                #{headImg,jdbcType=LONGVARBINARY},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.datangedu.cn.model.sysUser.BuyUserExample"
            resultType="java.lang.Long">
        select count(*) from buy_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="saveUserImg" parameterType="com.datangedu.cn.model.sysUser.BuyUser">
    update buy_user set head_img = #{headImg} where id = #{id}
</update>
    <select id="findUser" parameterType="java.lang.String" resultType="com.datangedu.cn.model.sysUser.Administrator">
        SELECT * FROM `administrator`
        <where>
            PASSWORD = #{password} and CELLPHONE = #{cellphone}
        </where>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update buy_user
        <set>
            <if test="record.id != null">
                ID = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.userName != null">
                USER_NAME = #{record.userName,jdbcType=VARCHAR},
            </if>
            <if test="record.gender != null">
                GENDER = #{record.gender,jdbcType=INTEGER},
            </if>
            <if test="record.cellphone != null">
                CELLPHONE = #{record.cellphone,jdbcType=VARCHAR},
            </if>
            <if test="record.location != null">
                LOCATION = #{record.location,jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.email != null">
                EMAIL = #{record.email,jdbcType=VARCHAR},
            </if>
            <if test="record.buyNum != null">
                BUY_NUM = #{record.buyNum,jdbcType=INTEGER},
            </if>
            <if test="record.totalPrice != null">
                TOTAL_PRICE = #{record.totalPrice,jdbcType=INTEGER},
            </if>
            <if test="record.status != null">
                STATUS = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.headImg != null">
                HEAD_IMG = #{record.headImg,jdbcType=LONGVARBINARY},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update buy_user
        set ID = #{record.id,jdbcType=VARCHAR},
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
        GENDER = #{record.gender,jdbcType=INTEGER},
        CELLPHONE = #{record.cellphone,jdbcType=VARCHAR},
        LOCATION = #{record.location,jdbcType=VARCHAR},
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
        EMAIL = #{record.email,jdbcType=VARCHAR},
        BUY_NUM = #{record.buyNum,jdbcType=INTEGER},
        TOTAL_PRICE = #{record.totalPrice,jdbcType=INTEGER},
        STATUS = #{record.status,jdbcType=INTEGER},
        HEAD_IMG = #{record.headImg,jdbcType=LONGVARBINARY}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update buy_user
        set ID = #{record.id,jdbcType=VARCHAR},
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
        GENDER = #{record.gender,jdbcType=INTEGER},
        CELLPHONE = #{record.cellphone,jdbcType=VARCHAR},
        LOCATION = #{record.location,jdbcType=VARCHAR},
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
        EMAIL = #{record.email,jdbcType=VARCHAR},
        BUY_NUM = #{record.buyNum,jdbcType=INTEGER},
        TOTAL_PRICE = #{record.totalPrice,jdbcType=INTEGER},
        STATUS = #{record.status,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.datangedu.cn.model.sysUser.BuyUser">
        update buy_user
        <set>
            <if test="userName != null">
                USER_NAME = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                GENDER = #{gender,jdbcType=INTEGER},
            </if>
            <if test="cellphone != null">
                CELLPHONE = #{cellphone,jdbcType=VARCHAR},
            </if>
            <if test="location != null">
                LOCATION = #{location,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="email != null">
                EMAIL = #{email,jdbcType=VARCHAR},
            </if>
            <if test="buyNum != null">
                BUY_NUM = #{buyNum,jdbcType=INTEGER},
            </if>
            <if test="totalPrice != null">
                TOTAL_PRICE = #{totalPrice,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=INTEGER},
            </if>
            <if test="headImg != null">
                HEAD_IMG = #{headImg,jdbcType=LONGVARBINARY},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.datangedu.cn.model.sysUser.BuyUser">
    update buy_user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=INTEGER},
      CELLPHONE = #{cellphone,jdbcType=VARCHAR},
      LOCATION = #{location,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      EMAIL = #{email,jdbcType=VARCHAR},
      BUY_NUM = #{buyNum,jdbcType=INTEGER},
      TOTAL_PRICE = #{totalPrice,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER},
      HEAD_IMG = #{headImg,jdbcType=LONGVARBINARY}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.datangedu.cn.model.sysUser.BuyUser">
    update buy_user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      GENDER = #{gender,jdbcType=INTEGER},
      CELLPHONE = #{cellphone,jdbcType=VARCHAR},
      LOCATION = #{location,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      EMAIL = #{email,jdbcType=VARCHAR},
      BUY_NUM = #{buyNum,jdbcType=INTEGER},
      TOTAL_PRICE = #{totalPrice,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

    <select id="finUserByMap" resultType="com.datangedu.cn.model.sysUser.Administrator">
        SELECT * FROM `administrator`
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="emall != null and emall != ''">and EMAIL = #{emall}</if>
            <if test="password != null and password != ''">and PASSWORD = #{password}</if>
            <if test="cellphone != null and cellphone != ''">and CELLPHONE = #{cellphone}</if>
        </where>
    </select>

    <update id="updateUserByMap" parameterType="com.datangedu.cn.model.sysUser.Administrator">
        update `administrator`
        set password = #{password},CELLPHONE = #{cellphone}
        where ID =#{id}
    </update>
</mapper>