<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datangedu.cn.dao.mapper.OrderListMapper">
  <resultMap id="BaseResultMap" type="com.datangedu.cn.model.sysUser.OrderList">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ORDER_NUMBER" jdbcType="VARCHAR" property="orderNumber" />
    <result column="USER_BUY" jdbcType="VARCHAR" property="userBuy" />
    <result column="ORDER_CONTENT" jdbcType="VARCHAR" property="orderContent" />
    <result column="ORDER_MOUNT" jdbcType="DOUBLE" property="orderMount" />
    <result column="PAY_TYPE" jdbcType="INTEGER" property="payType" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="EVALUATE" jdbcType="VARCHAR" property="evaluate" />
    <result column="BUYSUM" jdbcType="INTEGER" property="buySum" />
    <result column="IMG" jdbcType="VARCHAR" property="img" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, ORDER_NUMBER, USER_BUY, ORDER_CONTENT, ORDER_MOUNT, CREATE_TIME, PAY_TYPE, STATUS, 
    EVALUATE
  </sql>
  <select id="selectByExample" parameterType="com.datangedu.cn.model.sysUser.OrderListExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_list
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from order_list
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.datangedu.cn.model.sysUser.OrderListExample">
    delete from order_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.datangedu.cn.model.sysUser.OrderList">
    insert into order_list (ORDER_NUMBER, USER_BUY,
      ORDER_CONTENT, ORDER_MOUNT,
      PAY_TYPE, STATUS, EVALUATE,BUYSUM,IMG,CREATE_TIME
      )
    values (#{orderNumber,jdbcType=VARCHAR}, #{userBuy,jdbcType=VARCHAR},
      #{orderContent,jdbcType=VARCHAR}, #{orderMount,jdbcType=DOUBLE},
      #{payType,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{evaluate,jdbcType=VARCHAR},#{buySum,jdbcType=INTEGER},#{img,jdbcType=VARCHAR},#{createTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.datangedu.cn.model.sysUser.OrderList">
    insert into order_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orderNumber != null">
        ORDER_NUMBER,
      </if>
      <if test="userBuy != null">
        USER_BUY,
      </if>
      <if test="orderContent != null">
        ORDER_CONTENT,
      </if>
      <if test="orderMount != null">
        ORDER_MOUNT,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="payType != null">
        PAY_TYPE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="evaluate != null">
        EVALUATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null">
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="userBuy != null">
        #{userBuy,jdbcType=VARCHAR},
      </if>
      <if test="orderContent != null">
        #{orderContent,jdbcType=VARCHAR},
      </if>
      <if test="orderMount != null">
        #{orderMount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="evaluate != null">
        #{evaluate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.datangedu.cn.model.sysUser.OrderListExample" resultType="java.lang.Long">
    select count(*) from order_list
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order_list
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.orderNumber != null">
        ORDER_NUMBER = #{record.orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.userBuy != null">
        USER_BUY = #{record.userBuy,jdbcType=VARCHAR},
      </if>
      <if test="record.orderContent != null">
        ORDER_CONTENT = #{record.orderContent,jdbcType=VARCHAR},
      </if>
      <if test="record.orderMount != null">
        ORDER_MOUNT = #{record.orderMount,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payType != null">
        PAY_TYPE = #{record.payType,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.evaluate != null">
        EVALUATE = #{record.evaluate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order_list
    set ID = #{record.id,jdbcType=INTEGER},
      ORDER_NUMBER = #{record.orderNumber,jdbcType=VARCHAR},
      USER_BUY = #{record.userBuy,jdbcType=VARCHAR},
      ORDER_CONTENT = #{record.orderContent,jdbcType=VARCHAR},
      ORDER_MOUNT = #{record.orderMount,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      PAY_TYPE = #{record.payType,jdbcType=INTEGER},
      STATUS = #{record.status,jdbcType=INTEGER},
      EVALUATE = #{record.evaluate,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.datangedu.cn.model.sysUser.OrderList">
    update order_list
    <set>
      <if test="orderNumber != null">
        ORDER_NUMBER = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="userBuy != null">
        USER_BUY = #{userBuy,jdbcType=VARCHAR},
      </if>
      <if test="orderContent != null">
        ORDER_CONTENT = #{orderContent,jdbcType=VARCHAR},
      </if>
      <if test="orderMount != null">
        ORDER_MOUNT = #{orderMount,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payType != null">
        PAY_TYPE = #{payType,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="evaluate != null">
        EVALUATE = #{evaluate,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>


  <update id="updateByPrimaryKey" parameterType="com.datangedu.cn.model.sysUser.OrderList">
    update order_list
    set ORDER_NUMBER = #{orderNumber,jdbcType=VARCHAR},
      USER_BUY = #{userBuy,jdbcType=VARCHAR},
      ORDER_CONTENT = #{orderContent,jdbcType=VARCHAR},
      ORDER_MOUNT = #{orderMount,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      PAY_TYPE = #{payType,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER},
      EVALUATE = #{evaluate,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateOrder" parameterType="com.datangedu.cn.model.sysUser.OrderList">
    update order_list
    set PAY_TYPE=#{payType},STATUS=2
    where ORDER_NUMBER = #{orderNumber}
  </update>

  <select id="queryAll"  parameterType="java.lang.String"  resultMap="BaseResultMap">
    select * from order_list where USER_BUY = #{userName}
  </select>
</mapper>