<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datangedu.cn.dao.mapper.ServiceUserMapper">
  <resultMap id="BaseResultMap" type="com.datangedu.cn.model.sysUser.ServiceUser">
    <id column="PROVIDER_ID" jdbcType="VARCHAR" property="providerId" />
    <result column="HEAD_IMG" jdbcType="VARCHAR" property="headImg" />
    <result column="SERVICE_NAME" jdbcType="VARCHAR" property="serviceName" />
    <result column="REGION_ID" jdbcType="VARCHAR" property="regionId" />
    <result column="CELLPHONE" jdbcType="VARCHAR" property="cellphone" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="SERVICE_INFO" jdbcType="VARCHAR" property="serviceInfo" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="USER_INFO" jdbcType="VARCHAR" property="userInfo" />
    <result column="WORK_TIME" jdbcType="VARCHAR" property="workTime" />
    <result column="WEIXIN" jdbcType="VARCHAR" property="weixin" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="KEFU_PHONE" jdbcType="VARCHAR" property="kefuPhone" />
    <result column="TYPE" jdbcType="INTEGER" property="type" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PROVIDER_ID, HEAD_IMG, SERVICE_NAME, REGION_ID, CELLPHONE, PASSWORD, SERVICE_INFO, 
    STATUS, EMAIL, CREATE_TIME, USER_INFO, WORK_TIME, WEIXIN, QQ, KEFU_PHONE, TYPE
  </sql>
  <select id="selectByExample" parameterType="com.datangedu.cn.model.sysUser.ServiceUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from service_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from service_user
    where PROVIDER_ID = #{providerId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from service_user
    where PROVIDER_ID = #{providerId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.datangedu.cn.model.sysUser.ServiceUserExample">
    delete from service_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.datangedu.cn.model.sysUser.ServiceUser">
    insert into service_user (PROVIDER_ID, HEAD_IMG, SERVICE_NAME, 
      REGION_ID, CELLPHONE, PASSWORD, 
      SERVICE_INFO, STATUS, EMAIL, 
      CREATE_TIME, USER_INFO, WORK_TIME, 
      WEIXIN, QQ, KEFU_PHONE, 
      TYPE)
    values (#{providerId,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR}, #{serviceName,jdbcType=VARCHAR}, 
      #{regionId,jdbcType=VARCHAR}, #{cellphone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{serviceInfo,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{userInfo,jdbcType=VARCHAR}, #{workTime,jdbcType=VARCHAR}, 
      #{weixin,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{kefuPhone,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.datangedu.cn.model.sysUser.ServiceUser">
    insert into service_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="providerId != null">
        PROVIDER_ID,
      </if>
      <if test="headImg != null">
        HEAD_IMG,
      </if>
      <if test="serviceName != null">
        SERVICE_NAME,
      </if>
      <if test="regionId != null">
        REGION_ID,
      </if>
      <if test="cellphone != null">
        CELLPHONE,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="serviceInfo != null">
        SERVICE_INFO,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="userInfo != null">
        USER_INFO,
      </if>
      <if test="workTime != null">
        WORK_TIME,
      </if>
      <if test="weixin != null">
        WEIXIN,
      </if>
      <if test="qq != null">
        QQ,
      </if>
      <if test="kefuPhone != null">
        KEFU_PHONE,
      </if>
      <if test="type != null">
        TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="providerId != null">
        #{providerId,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="serviceName != null">
        #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
        #{regionId,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null">
        #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="serviceInfo != null">
        #{serviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userInfo != null">
        #{userInfo,jdbcType=VARCHAR},
      </if>
      <if test="workTime != null">
        #{workTime,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="kefuPhone != null">
        #{kefuPhone,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.datangedu.cn.model.sysUser.ServiceUserExample" resultType="java.lang.Long">
    select count(*) from service_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update service_user
    <set>
      <if test="record.providerId != null">
        PROVIDER_ID = #{record.providerId,jdbcType=VARCHAR},
      </if>
      <if test="record.headImg != null">
        HEAD_IMG = #{record.headImg,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceName != null">
        SERVICE_NAME = #{record.serviceName,jdbcType=VARCHAR},
      </if>
      <if test="record.regionId != null">
        REGION_ID = #{record.regionId,jdbcType=VARCHAR},
      </if>
      <if test="record.cellphone != null">
        CELLPHONE = #{record.cellphone,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        PASSWORD = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceInfo != null">
        SERVICE_INFO = #{record.serviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.email != null">
        EMAIL = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userInfo != null">
        USER_INFO = #{record.userInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.workTime != null">
        WORK_TIME = #{record.workTime,jdbcType=VARCHAR},
      </if>
      <if test="record.weixin != null">
        WEIXIN = #{record.weixin,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null">
        QQ = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.kefuPhone != null">
        KEFU_PHONE = #{record.kefuPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        TYPE = #{record.type,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update service_user
    set PROVIDER_ID = #{record.providerId,jdbcType=VARCHAR},
      HEAD_IMG = #{record.headImg,jdbcType=VARCHAR},
      SERVICE_NAME = #{record.serviceName,jdbcType=VARCHAR},
      REGION_ID = #{record.regionId,jdbcType=VARCHAR},
      CELLPHONE = #{record.cellphone,jdbcType=VARCHAR},
      PASSWORD = #{record.password,jdbcType=VARCHAR},
      SERVICE_INFO = #{record.serviceInfo,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=INTEGER},
      EMAIL = #{record.email,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      USER_INFO = #{record.userInfo,jdbcType=VARCHAR},
      WORK_TIME = #{record.workTime,jdbcType=VARCHAR},
      WEIXIN = #{record.weixin,jdbcType=VARCHAR},
      QQ = #{record.qq,jdbcType=VARCHAR},
      KEFU_PHONE = #{record.kefuPhone,jdbcType=VARCHAR},
      TYPE = #{record.type,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.datangedu.cn.model.sysUser.ServiceUser">
    update service_user
    <set>
      <if test="headImg != null">
        HEAD_IMG = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="serviceName != null">
        SERVICE_NAME = #{serviceName,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
        REGION_ID = #{regionId,jdbcType=VARCHAR},
      </if>
      <if test="cellphone != null">
        CELLPHONE = #{cellphone,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="serviceInfo != null">
        SERVICE_INFO = #{serviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userInfo != null">
        USER_INFO = #{userInfo,jdbcType=VARCHAR},
      </if>
      <if test="workTime != null">
        WORK_TIME = #{workTime,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        WEIXIN = #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="kefuPhone != null">
        KEFU_PHONE = #{kefuPhone,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where PROVIDER_ID = #{providerId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.datangedu.cn.model.sysUser.ServiceUser">
    update service_user
    set HEAD_IMG = #{headImg,jdbcType=VARCHAR},
      SERVICE_NAME = #{serviceName,jdbcType=VARCHAR},
      REGION_ID = #{regionId,jdbcType=VARCHAR},
      CELLPHONE = #{cellphone,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      SERVICE_INFO = #{serviceInfo,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      EMAIL = #{email,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      USER_INFO = #{userInfo,jdbcType=VARCHAR},
      WORK_TIME = #{workTime,jdbcType=VARCHAR},
      WEIXIN = #{weixin,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=VARCHAR},
      KEFU_PHONE = #{kefuPhone,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=INTEGER}
    where PROVIDER_ID = #{providerId,jdbcType=VARCHAR}
  </update>
</mapper>